<html>
<head><title>Exemplary PHP shop</title></head>
<body>

<main>
    <h1>You bought product</h1>
    <p>Congratulations</p>
    <a href="/">Come back to shop</a>
</main>
<footer>
    <p>Shop was visited {{visits}} times.</p>
</footer>

</body>
</html>