<html>
<head><title>Exemplary PHP shop</title></head>
<body>

<main>
    <h1>Product</h1>
    <p>Price <span>{{price}}</span></p>
    <a href="/buy">Buy</a>
</main>
<footer>
    <p>Shop was visited {{visits}} times.</p>
</footer>

</body>
</html>